# Fileformats
*csv
*pdf
*png
*jpg
*eps
*pkl
*pyc
*pickle
*txt
*json
*sh
*log

# Configs with some number in the filename will not be put on git
*[0-9]*.yaml

# Junk / Hidden Files
**ipynb_checkpoints/
*ipynb_checkpoints/
*vscode/
sftp-configjson
*__pycache__
*DS_Store

# Folders (on Home dir and otherwise)
data/data/shapefiles/
*plots/
**plots/
*outputs/
**outputs/
*reports/
**reports/
*misc/
**misc/
*params/
**params/
*mcmc/
**mcmc/
*temp/
**temp/
*wandb/
**wandb/
cache/
optim/

# Exceptions
!data/data/*csv
!data/data/mumbai/*csv
!docs/model_diagrams/*pdf
!docs/figures/*png
*output/
**output/
**/output
