# Fileformats
*.csv
*.pdf
*.png
*.pkl
*.pyc
*.pickle
*.txt
*.json

# Junk / Hidden Files
**.ipynb_checkpoints/
*.ipynb_checkpoints/
*.vscode/
sftp-config.json
*__pycache__
*.DS_Store

# Folders (on Home dir and otherwise)
*plots/
**plots/
*outputs/
**outputs/
*reports/
**reports/
*reports/
**reports/
*misc/
**misc/
*params/
**params/
*mcmc/
**mcmc/
*temp/
**temp/
*wandb/
**wandb/
cache/
optim/

# Exceptions
!data/data/*.csv
!data/data/mumbai/*.csv
!docs/model_diagrams/*.pdf
*output/
**output/
**/output
