amqp==2.5.2
attrs==19.3.0
Automat==20.2.0
backcall==0.1.0
billiard==3.6.3.0
celery==4.4.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
constantly==15.1.0
covasim==0.22.3
cryptography==2.9
cycler==0.10.0
decorator==4.4.2
dill==0.3.1.1
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Login==0.5.0
Flask-Session==0.3.1
gitdb==4.0.2
GitPython==3.1.0
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
jupyter-client==6.1.2
jupyter-core==4.6.3
kiwisolver==1.2.0
kombu==4.6.8
line-profiler==3.0.2
llvmlite==0.31.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mpld3==0.3
networkx==2.4
numba==0.48.0
numpy==1.18.2
openpyexcel==2.5.14
pandas==1.0.3
parso==0.6.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
plotly==4.6.0
plotly-express==0.4.1
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.6.1
PyHamcrest==2.0.2
pyparsing==2.4.6
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytz==2019.3
pyzmq==19.0.0
redis==2.10.6
requests==2.23.0
retrying==1.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
sciris==0.16.7
scirisweb==0.16.6
seirsplus==0.0.14
service-identity==18.1.0
six==1.14.0
sklearn==0.0
smmap==3.0.1
SQLAlchemy==1.3.15
statsmodels==0.11.1
tornado==6.0.4
traitlets==4.3.3
Twisted==20.3.0
urllib3==1.25.8
vine==1.3.0
wcwidth==0.1.9
Werkzeug==1.0.1
xlrd==1.2.0
XlsxWriter==1.2.8
zope.interface==5.0.2
