amqp==2.5.2
astroid==2.3.3
attrs==19.3.0
Automat==20.2.0
autopep8==1.5.2
backcall==0.1.0
beautifulsoup4==4.9.0
billiard==3.6.3.0
bleach==3.1.4
boto3==1.12.48
botocore==1.15.48
bs4==0.0.1
celery==4.4.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cloudpickle==1.3.0
constantly==15.1.0
covasim==0.22.3
cryptography==2.9
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.1.1
distro==1.5.0
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Login==0.5.0
Flask-Session==0.3.1
future==0.18.2
gitdb==4.0.2
GitPython==3.1.0
gunicorn==20.0.4
hyperlink==19.0.0
hyperopt==0.2.3
idna==2.9
importlib-metadata==1.6.0
incremental==17.5.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-core==4.6.3
kiwisolver==1.2.0
kombu==4.6.8
lazy-object-proxy==1.4.3
line-profiler==3.0.2
llvmlite==0.31.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
mpld3==0.3
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.2
notebook==6.0.3
numba==0.48.0
numpy==1.18.2
openpyexcel==2.5.14
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.1
plotly==4.6.0
plotly-express==0.4.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.20
Pygments==2.6.1
PyHamcrest==2.0.2
pylint==2.4.4
pyocr==0.7.2
pyparsing==2.4.6
pyrsistent==0.16.0
pytesseract==0.3.4
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytz==2019.3
pyzmq==19.0.0
redis==2.10.6
requests==2.23.0
retrying==1.3.3
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
sciris==0.16.7
scirisweb==0.16.6
seaborn==0.10.0
seirsplus==0.0.14
Send2Trash==1.5.0
service-identity==18.1.0
six==1.14.0
sklearn==0.0
smmap==3.0.1
soupsieve==2.0
SQLAlchemy==1.3.15
statsmodels==0.11.1
tabula-py==2.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
Twisted==20.3.0
urllib3==1.25.8
vine==1.3.0
Wand==0.5.9
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.2.8
zipp==3.1.0
zope.interface==5.0.2
