adjustText==0.7.3
affine==2.3.0
alembic==1.4.2
amqp==2.5.2
appnope==0.1.0
arviz==0.8.0
astroid==2.3.3
attrs==19.3.0
Automat==20.2.0
autopep8==1.5.2
azure-core==1.7.0
azure-storage-blob==12.3.2
backcall==0.1.0
beautifulsoup4==4.9.0
billiard==3.6.3.0
bleach==3.3.0
boto3==1.12.48
botocore==1.15.48
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.1.0
Cartopy==0.18.0
celery==4.4.2
certifi==2020.6.20
cffi==1.14.0
cftime==1.1.3
chardet==3.0.4
click==7.1.1
click-plugins==1.1.1
cligj==0.7.0
cloudpickle==1.3.0
colorama==0.4.4
configparser==5.0.0
constantly==15.1.0
contextily==1.0.1
covasim==0.22.3
crayons==0.4.0
cryptography==3.3.2
cycler==0.10.0
data==0.4
databricks-cli==0.11.0
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.10
descartes==1.1.0
dill==0.3.1.1
distro==1.5.0
docker==4.2.2
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
Fiona==1.8.17
Flask==1.1.2
Flask-Login==0.5.0
Flask-Session==0.3.1
funcsigs==1.0.2
future==0.18.2
# GDAL==3.1.4
geographiclib==1.50
geopandas==0.8.1
geoplot==0.4.1
geopy==2.0.0
gitdb==4.0.2
GitPython==3.1.0
google-auth==1.15.0
google-auth-oauthlib==0.4.1
gorilla==0.3.0
gql==0.2.0
graphql-core==1.1
gspread==3.6.0
gunicorn==20.0.4
h5py==2.10.0
hyperlink==19.0.0
hyperopt==0.2.3
idna==2.9
importlib-metadata==1.6.0
incremental==17.5.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.3
jmespath==0.9.5
joblib==0.14.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.5
jupyterlab-server==1.2.0
kiwisolver==1.2.0
kombu==4.6.8
lab==6.0
latex==0.7.0
lazy-object-proxy==1.4.3
lightgbm==3.1.0
line-profiler==3.0.2
llvmlite==0.31.0
Mako==1.1.3
mapclassify==2.3.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mdutils==1.2.1
mercantile==1.1.6
mistune==0.8.4
# mkl-service==2.3.0
mlflow==1.10.0
mpld3==0.3
msrest==0.6.18
multiprocess==0.70.9
munch==2.5.0
nbconvert==5.6.1
nbformat==5.0.4
netCDF4==1.5.3
networkx==2.2
notebook==6.1.5
numba==0.48.0
numpy==1.18.2
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
openpyexcel==2.5.14
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.2
parso==0.6.2
pathos==0.2.5
pathtools==0.1.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.1
plotly==4.6.0
plotly-express==0.4.1
pox==0.2.7
ppft==1.6.6.1
prometheus-client==0.7.1
prometheus-flask-exporter==0.15.4
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.12.4
psutil==5.7.0
ptyprocess==0.6.0
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAthena==1.10.7
pycodestyle==2.5.0
pycparser==2.20
PyGithub==1.53
Pygments==2.6.1
PyHamcrest==2.0.2
# PyJWT==1.7.1
pykwalify==1.7.0
pylint==2.4.4
pymc3==3.8
pymmwr==0.2.2
pyocr==0.7.2
pyOpenSSL==19.1.0
pypandoc==1.5
pyparsing==2.4.6
pyproj==2.6.1.post1
pyrsistent==0.16.0
pyshp==2.1.2
PySocks==1.7.1
pytesseract==0.3.4
python-dateutil==2.8.1
python-editor==1.0.4
python-Levenshtein==0.12.0
pytz==2019.3
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.5
QtPy==1.9.0
querystring-parser==1.2.4
rasterio==1.1.7
redis==2.10.6
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.0
# Rtree==0.9.4
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.5.4
sciris==0.16.7
scirisweb==0.16.6
seaborn==0.11.0
seirsplus==0.0.14
selenium==3.141.0
Send2Trash==1.5.0
sentry-sdk==0.16.3
service-identity==18.1.0
Shapely==1.7.1
shortuuid==1.0.1
shutilwhich==1.1.0
simplejson==3.17.0
six==1.14.0
sklearn==0.0
smmap==3.0.1
snuggs==1.4.7
soupsieve==2.0
SQLAlchemy==1.3.13
sqlparse==0.3.1
statsmodels==0.11.1
subprocess32==3.5.4
tabula-py==2.1.0
tabulate==0.8.7
tempdir==0.7.1
tenacity==6.2.0
terminado==0.8.3
testpath==0.4.4
Theano==1.0.4
threadpoolctl==2.1.0
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
Twisted==20.3.0
txt2tags==3.7
urllib3==1.25.8
vine==1.3.0
Wand==0.5.9
wandb==0.10.12
watchdog==0.10.3
wcwidth==0.1.9
webdriver-manager==3.2.2
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.12.1
xarray==0.15.1
xlrd==1.2.0
XlsxWriter==1.2.8
zipp==3.1.0
zoltpy==0.0.4.dev0
zope.interface==5.0.2
